{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    {% include('header.html.twig') %}
    {% include('navbar.html.twig') %}

    <div class="slider fullscreen">
        <ul class="slides">

            <li onclick=" Rjava();">
                <img class="java" src="{{ asset('images/java/menu_samegame.png') }}" alt="menu SameGame">
                <div class="caption left-align">
                    <h3>SameGame</h3>
                    <h5 class="light grey-text text-lighten-3">Projet JAVA</h5>
                </div>
            </li>

            <li onclick="Rweb();">
                <img  src="{{ asset('images/web/quizz_1.png') }}" alt="menu Super quizz">
                <div class="caption left-align">
                    <h3>Super Quizz</h3>
                    <h5 class="light grey-text text-lighten-3">Site web quizz</h5>
                </div>
            </li>

            <li onclick="Rweb();">
                <img src="{{ asset('images/web/connect_doodle.png') }}" alt=" menu Doodle">
                <div class="caption left-align">
                    <h3>Doodle like</h3>
                    <h5 class="light grey-text text-lighten-3">Site web calendrier</h5>
                </div>
            </li>

            <li onclick="Rweb();">
                <img src="{{ asset('images/web/Menu_cinema.png') }}" alt=" menu cinema">
                <div class="caption left-align">
                    <h3>Cinema review</h3>
                    <h5 class="light grey-text text-lighten-3">Site web Cinema</h5>
                </div>
            </li>

            <li  onclick="Rc();">
                <img style="background-size: unset; background-repeat: no-repeat; background-color: #242629;" src="{{ asset('images/c/LienMenu.PNG') }}" alt="menu snake et blocus C">
                <div class="caption left-align">
                    <h3>Projet en C</h3>
                    <h5 class="light grey-text text-lighten-3">Snake et Blocus</h5>
                </div>
            </li>
        </ul>
    </div>

    <style>
        img{
            cursor: pointer;
        }

        h3,h5{
            cursor: default;
            text-shadow: 1px 0 #010101, -1px 0 #010101, 0 1px #010101, 0 -1px #010101,
            1px 1px #010101, -1px -1px #010101, 1px -1px #010101, -1px 1px #010101;
            color: #94a1b2;
        }
        .slider .indicators .indicator-item.active{
            background-color: #7f5af0;
            border: solid 1px #010101;
        }

        .slider .indicators .indicator-item{
            background-color: #72757e;
            border: solid 1px #010101;
        }

        iframe{
            pointer-events: none;
        }

    </style>

    <script>
        $(document).ready(function(){
            $('.slider').slider();

        });

        function Rjava() {
            document.location.href="realisation/java";
        }
        function Rweb() {
            document.location.href="realisation/php";
        }
        function Rc() {
            document.location.href="realisation/c";
        }

    </script>
{% endblock %}
