{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    {% include('header.html.twig') %}
    {% include('navbar.html.twig') %}

    <div class="row">  <!-- TODO : faire un loader sur les images-->
        <div class="col s12 m6" id="card">
            <div class="card z-depth-1">
                <div class="card-content white-text">
                    <span class="card-title">SNAKE</span><img id="mainPhoto" alt="snake" src="">
                    <div class="mainSlider">
                        <img src="" style="display: none" class="responsive-img" alt="snake">
                    </div>
                    <p style="text-align: justify;text-justify: inter-word;">
                        La première réalisation que j'ai effectuée durant mes études est le jeu <i>Snake</i>.
                        Le jeu connu de tous. Malheureusement ce projet n'a pas été réalisé à 100%.
                        La démonstration de ce projet n'est pas possible ni executable car il utilise une bibliothèque graphique liée à l'IUT.</p>
                </div>
                <hr>
                <div class="box_lien">
                    <a class="lien" href="https://github.com/bastienleb/snake_c" target="_blank">Pour récupérer le code, cliquez ici</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6" id="card">
            <div class="card z-depth-1">
                <div class="card-content white-text">
                    <span class="card-title">BLOCUS</span><img id="Photo_blocus" alt="blocus" src="">
                    <div class="mainSlider">
                        <img src="" style="display: none" class="responsive-img" alt="blocus">
                    </div>
                    <p style="text-align: justify;text-justify: inter-word;">
                        Le <i>Blocus</i> est un jeu ou le but est de bloquer son adversaire à l'aide de croix
                        que l'on pose une fois s'être déplacé. Le gagnant est celui qui arrive à bloquer son
                        adversaire en premier.
                        La démonstration de ce projet n'est pas possible ni executable car il utilise une bibliothèque graphique liée à l'IUT.</p>
                </div>
                <hr>
                <div class="box_lien">
                    <a class="lien" href="https://github.com/bastienleb/blocus_c" target="_blank">Pour récupérer le code, cliquez ici</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        img{
            width: 100%;
            border: 3px solid #000;
            border-radius: 25px;
        }
        .card{
            width: 100%;
            animation-name: fade-in;
            animation-duration: 2s;
            background-color: #16161a;
            margin-top: 1.5em;
            border-radius: 3px;
        }
        .card-title{
            color: #fffffe;
        }

        p{
            color: #94a1b2;
        }

        p i,.lien {
            color: #2cb67d;
        }

        .lien{
            text-decoration: underline;
        }

        .box_lien{
            padding: 16px 24px;
        }

        hr{
            opacity: 0.25;
        }

        @keyframes fade-in {
            from { opacity: 0; }
            to   { opacity: 1; }
        }


    </style>

    <script>
        let images = [];
        let altimgs = [];

        let imageb = [];
        let altimgb = [];
        
        images[0] = ["{{asset('images/c/demarage_snake.png')}}"];
        altimgs[0] = ['Demarrage snake'];

        images[1] = ["{{asset('images/c/jeu_snake.png')}}"];
        altimgs[1] = ['Jeu snake'];

        images[2] = ["{{asset('images/c/menu_snake.png')}}"];
        altimgs[2] = ['Menu snake'];


        imageb[0] = ["{{asset('images/c/menu_blocus.png')}}"];
        altimgb[0] = ['Menu Blocus'];

        imageb[1] = ["{{asset('images/c/jeu_blocus.png')}}"];
        altimgb[1] = ['Jeu Blocus'];

        imageb[2] = ["{{asset('images/c/fin_blocus.png')}}"];
        altimgb[2] = ['Fin Blocus'];

        let index = 0;

        function change() {
            document.getElementById("mainPhoto").src = images[index];
            document.getElementById("mainPhoto").alt = altimgs[index];

            document.getElementById("Photo_blocus").src = imageb[index];
            document.getElementById("Photo_blocus").alt = altimgb[index];

            if (index === 2) {
                index = 0;
            } else {
                index++;
            }

            setTimeout(change, 1750);
        }

        window.onload = change();
    </script>

    {% include('footer.html.twig') %}
{% endblock %}
